:not(html[lang*="ru"]) [lang="ru"],
html[lang*="ru"] [lang="en"] {
  display: none;
}

html[lang*="ru"] [lang="ru"] {
  display: block;
}

@font-face {
  font-family: "Helvetica";
  src: url("/res/Helvetica-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Helvetica";
  src: url("/res/Helvetica-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Helvetica";
  src: url("/res/Helvetica-Italics.ttf");
  font-style: italic;
}

:root {
  --fg: #1d1d1f;
  --bg: #fafafa;
  --fg-dim: #6E6E73;
  --bg-dim: #f5f5f7;
  --red: rgb(255, 59, 48);
  --orange: rgb(255, 149, 0);
  --yellow: rgb(255, 204, 0);
  --green: rgb(52, 199, 89);
  --mint: rgb(0, 199, 190);
  --teal: rgb(48, 176, 199);
  --cyan: rgb(50, 173, 230);
  --blue: rgb(0, 122, 255);
  --indigo: rgb(88, 86, 214);
  --purple: rgb(175, 82, 222);
  --pink: rgb(255, 45, 85);
  --brown: rgb(162, 132, 94);
  --accent: var(--blue);
}

@media (prefers-color-scheme: dark) {
  :root {
    --fg-color: #fafafa;
    --border-color: #555;
    --bg-color: #1d1d1f;
  }
  [data-theme="light"] {
    --fg-color: #1d1d1f;
    --border-color: gainsboro;
    --bg-color: #fafafa;
  }
}

:root,
[data-theme="light"] {
  --fg-color: #1d1d1f;
  --border-color: gainsboro;
  --bg-color: #fafafa;
}

[data-theme="dark"] {
  --fg-color: #fafafa;
  --border-color: #555;
  --bg-color: #1d1d1f;
}

* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, "Roboto",
    sans-serif;
  background-color: transparent;
  text-decoration: none;
  line-height: 1;
  color: var(--fg-color);
  text-align: left;
  font-size: inherit;
}

*:not(h1, h2, h3, h4, h5) {
  letter-spacing: -.01em;
}

p,
pre,
q,
li,
b,
i,
a,
s,
small,
time,
code,
sup,
u,
textarea,
input,
th,
td,
option,
legend {
  line-height: 1.4;
}

p,
pre,
q,
h1,
h2,
h3,
h4,
h5,
li,
details,
summary,
form,
th,
td,
input,
select,
button,
.tabbar {
  padding: 0.25rem 0.5rem;
}

h1, h2, h3, h4, h5, button {
  font-weight: 600;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.875rem;
}

body {
  margin: 0 auto;
  max-width: 1000px;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  font-size: 17px;
  padding: 1rem 0;
}

section {
  padding: 0.25rem 0.5rem;
}

section:first-of-type {
  padding-top: 0.5rem;
}

section:last-of-type {
  padding-bottom: 0.5rem;
}

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

code {
  font-family: monospace;
  font-size: 0.875rem;
  margin: 0 0.5rem;
  background-color: var(--border-color);
  padding: 0.1rem 0.4rem;
}

a {
  color: var(--accent);
  cursor: pointer;
}

a:not([class]):hover {
  text-decoration: underline;
}

li:not([class]) {
  padding-left: 1rem;
  list-style: none;
}

li:not([class]):before {
  content: "\2022";
  color: var(--fg-color);
  font-weight: bold;
  display: inline-block;
}

.items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.dim {
  opacity: 0.5;
  font-weight: 400;
}

.card {
  outline: 1px solid var(--border-color);
  width: calc(100% - 1rem);
  margin: 0.5rem;
}

.card__preview {
  width: 100%;
  height: 14rem;
  display: block;
  object-fit: cover;
  border-bottom: 1px solid var(--border-color);
}

.card__body {
  padding: 0.25rem 0.5rem 0.75rem 0.25rem;
}

.tag {
  border-radius: 1rem;
  color: #1d1d1f;
  padding: 0.4rem 0.8rem;
  margin: 0.5rem 0.25rem 0 0.5rem;
}

.html {
  background-color: #e96228;
}

.css {
  background-color: #563d7c;
  color: #fafafa;
}

.js {
  background-color: #f1e05a;
}

.ts {
  background-color: #2f74c0;
  color: #fafafa;
}

.react {
  background-color: #61dbfb;
}

.redux {
  background-color: #764abc;
  color: #fafafa;
}

.mobx {
  background-color: #c35921;
  color: #fafafa;
}

.vue {
  background-color: #41b883;
}

.vuex {
  background-color: #34495e;
  color: #fafafa;
}

.sass {
  background-color: #c76494;
}

.less {
  color: #fafafa;
  background-color: #1d365d;
}

.node {
  background-color: #75ad63;
}

.linux {
  background-color: #f5be04;
}

.bash {
  background-color: #39b54a;
}

.git {
  background-color: #e94e31;
}

.mongo {
  background-color: #12914e;
}

.angular {
  color: #fafafa;
  background-color: #c3002f;
}

.electron {
  background-color: #a0ebf9;
}

.ru {
  background-color: green;
  color: #fafafa;
}

.en {
  background-color: gold;
}

.es {
  background-color: orange;
}
