* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:focus {
    outline: none;
}

body {
    font-family: sans-serif;
    --elevation: 0 1px 2px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.5);
}

a {
    cursor: pointer;
}

.main {
    width: 100vw;
    max-width: 1000px;
    margin: 0 auto;
}

h3 {
    text-align: center;
}

h2 {
    text-align: center;
    margin: 10px;
}

p {
    margin: 10px;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    position: relative;
    box-shadow: var(--elevation);
    width: 300px;
    margin: 12px;
    border-radius: 5px;
}

.badges {
    display: flex;
    margin: 10px;
}

.badge {
    padding: 6px 10px;
    border-radius: 10px;
    margin-right: 8px;
}

.badge_js {
    background-color: #f1e05a;
}

.badge_html {
    background-color: #e44b23;
}

.badge_css {
    color: white;
    background-color: #563d7c;
}

.badge_ts {
    background-color: #2b7489;
    color: white;
}

.badge_react {
    background-color: #61DBFB;
}

.badge_redux {
    background-color: #764abc;
    color: white;
}

.preview {
    width: 300px;
    height: 300px;
    border: none;
    border-radius: 5px 5px 0 0;
    overflow: hidden;

    text-align: center;
    line-height: 300px;
    font-weight: bold;
    background-color: #fafafa;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 300px;
    width: 300px;
}