:not(html[lang*="ru"]) [lang="ru"],
html[lang*="ru"] [lang="en"] {
  display: none;
}

html[lang*="ru"] [lang="ru"] {
  display: block;
}

html[lang*="ru"] .tag[lang="ru"] {
  display: inline-block;
}

:root,
[data-theme="light"] {
  --fg-color: #24292e;
  --border-color: gainsboro;
  --bg-color: #fafafa;
}

[data-theme="dark"] {
  --fg-color: #fafafa;
  --border-color: #555;
  --bg-color: #121212;
}

@media (prefers-color-scheme: dark) {
  :root {
    --fg-color: #fafafa;
    --border-color: #555;
    --bg-color: #121212;
  }
  [data-theme="light"] {
    --fg-color: #24292e;
    --border-color: gainsboro;
    --bg-color: #fafafa;
  }
}

* {
  margin: 0;
  padding: 0;
  color: var(--fg-color);
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", Helvetica, Arial,
    sans-serif;
  border: none;
  outline: none;
  background-color: transparent;
  box-sizing: border-box;
  text-decoration: none;
  line-height: 1;
}

body {
  margin: 0 auto;
  max-width: 1000px;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  font-size: 17px;
}

section {
  padding: 0.25rem 0.5rem;
}

section:first-of-type {
  padding-top: 0.5rem;
}

section:last-of-type {
  padding-bottom: 0.5rem;
}

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

p,
h1,
h2,
h3,
h4,
button,
li {
  line-height: 1.4;
  padding: 0.25rem 0.5rem;
}

a {
  color: #07e;
}

a:not([class]):hover {
  text-decoration: underline;
}

li:not([class]) {
  padding-left: 1rem;
  list-style: none;
}

li:not([class]):before {
  content: "\2022";
  color: var(--fg-color);
  font-weight: bold;
  display: inline-block;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.items:after {
  content: "";
  width: 20.5rem;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.dim {
  opacity: 0.5;
  font-weight: 400;
}

.card {
  outline: 1px solid var(--border-color);
  width: 19.5rem;
  margin: 0.5rem;
  align-self: flex-start;
}

.card__preview {
  width: 19.5rem;
  height: 14rem;
  display: block;
  object-fit: cover;
  border-bottom: 1px solid var(--border-color);
}

.card__body {
  padding: 0.5rem;
}

span {
  display: inline-block;
  padding-right: 0;
  padding: 1rem 0 1rem 0.5rem;
}

.tag {
  display: inline-block;
  border-radius: 1rem;
  padding: 0.25rem 0.75rem;
  margin: 0.75rem 0 1rem 1rem;
}

.ru {
  background-color: green;
  color: #fafafa;
}

.en {
  background-color: gold;
}

.es {
  background-color: orange;
}

span:before {
  border-radius: 1rem;
  padding: 0.25rem 0.75rem;
  color: black;
}

.html:before {
  content: "HTML";
  background-color: #e96228;
}

.css:before {
  content: "CSS";
  background-color: #563d7c;
  color: #fafafa;
}

.js:before {
  content: "JavaScript";
  background-color: #f1e05a;
}

.ts:before {
  content: "TypeScript";
  background-color: #2f74c0;
  color: #fafafa;
}

.react:before {
  content: "React";
  background-color: #61dbfb;
}

.redux:before {
  content: "Redux";
  background-color: #764abc;
  color: #fafafa;
}

.mobx:before {
  content: "Mobx";
  background-color: #c35921;
  color: #fafafa;
}

.bootstrap:before {
  content: "Bootstrap";
  background-color: #7952b3;
  color: #fafafa;
}

.vue:before {
  content: "Vue";
  background-color: #41b883;
}

.vuex:before {
  content: "Vuex";
  background-color: #34495e;
  color: #fafafa;
}

.sass:before {
  content: "SASS";
  background-color: #c76494;
}

.next:before {
  content: "Next.js";
  color: #fafafa;
  background-color: black;
}

.less:before {
  content: "Less.js";
  color: #fafafa;
  background-color: #1d365d;
}

.node:before {
  content: "Node.js";
  background-color: #75ad63;
}

.linux:before {
  content: "Linux";
  background-color: #f5be04;
}

.bash:before {
  content: "Bash";
  background-color: #39b54a;
}

.git:before {
  content: "Git";
  background-color: #e94e31;
}

.mysql:before {
  content: "MySQL";
  color: #fafafa;
  background-color: #007d7d;
}

.mongo:before {
  content: "MongoDB";
  background-color: #12914e;
}

.angular:before {
  content: "Angular";
  color: #fafafa;
  background-color: #c3002f;
}

.electron:before {
  content: "Electron";
  background-color: #a0ebf9;
}
